{%- set name = name|default('Redis Server') -%}

{%- set master = 'redis_server.stats["{$REDIS_SERVER.LOCATIONS}"]' -%}

{#-#########################################################################-#}
{#- MACROS -#}
{#-#########################################################################-#}

{%- macro item_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'TRAP': 2,
            'ZABBIX_ACTIVE': 7,
            'CALCULATED': 15,
            'DEPENDENT': 18,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro item_value_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'FLOAT': 0,
            'UNSIGNED': 3,
            'TEXT': 4,
            'DEPENDENT': 18,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro trigger_priority(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'WARNING': 2,
            'HIGH': 4,
            'DISASTER': 5,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro trigger_recovery(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'EXPRESSION': 0,
            'RECOVERY_EXPRESSION': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro preprocessing_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'BOOL_TO_DECIMAL': 6,
            'CHANGE_PER_SECOND': 10,
            'JSONPATH': 12,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro preprocessing_error_handler(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'ORIGINAL_ERROR': 0,
            'DISCARD_VALUE': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'NORMAL': 0,
            'STACKED': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_item_drawtype(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'SINGLE_LINE': 0,
            'FILLED_REGION': 1,
            'BOLD_LINE': 2,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_item_yaxisside(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'LEFT': 0,
            'RIGHT': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_item_calc_fnc(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'MIN': 1,
            'AVG': 2,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro trigger(definition) -%}
    <expression>{{ definition.expression|e }}</expression>
    <name>{{ definition.name|e }}</name>
    <priority>{{ trigger_priority(definition.priority) }}</priority>
    {% if 'recovery' in definition %}
        <recovery_mode>{{ trigger_recovery('RECOVERY_EXPRESSION') }}</recovery_mode>
        <recovery_expression>{{ definition.recovery|e }}</recovery_expression>
    {% else %}
        <recovery_mode>{{ trigger_recovery('EXPRESSION') }}</recovery_mode>
        <recovery_expression/>
    {% endif %}
    {% if version in ('4.0', '4.2') %}
        <correlation_mode>0</correlation_mode>
        <correlation_tag/>
        <url/>
        <status>0</status>
        <description/>
        <type>0</type>
        <manual_close>0</manual_close>
        <dependencies/>
        <tags/>
    {% endif %}
{%- endmacro -%}

{%- macro discovery_rule(rule, items, triggers, graphs) -%}
    <discovery_rule>
        <name>{{ rule.name|e }}</name>
        <type>{{ item_type('ZABBIX_ACTIVE') }}</type>
        <key>{{ rule.key|e }}</key>
        <delay>{$REDIS_SERVER.LLD_UPDATE_INTERVAL:&quot;{{ rule.context }}&quot;}</delay>
        <lifetime>{$REDIS_SERVER.LLD_KEEP_LOST_RESOURCES_PERIOD:&quot;{{ rule.context }}&quot;}</lifetime>
        {% if version in ('4.0', '4.2') %}
            <snmp_community/>
            <snmp_oid/>
            <status>0</status>
            <allowed_hosts/>
            <snmpv3_contextname/>
            <snmpv3_securityname/>
            <snmpv3_securitylevel>0</snmpv3_securitylevel>
            <snmpv3_authprotocol>0</snmpv3_authprotocol>
            <snmpv3_authpassphrase/>
            <snmpv3_privprotocol>0</snmpv3_privprotocol>
            <snmpv3_privpassphrase/>
            <params/>
            <ipmi_sensor/>
            <authtype>0</authtype>
            <username/>
            <password/>
            <publickey/>
            <privatekey/>
            <port/>
            <filter>
                <evaltype>0</evaltype>
                <formula/>
                <conditions/>
            </filter>
            <description/>
            <host_prototypes/>
            <jmx_endpoint/>
            <timeout>3s</timeout>
            <url/>
            <query_fields/>
            <posts/>
            <status_codes>200</status_codes>
            <follow_redirects>1</follow_redirects>
            <post_type>0</post_type>
            <http_proxy/>
            <headers/>
            <retrieve_mode>0</retrieve_mode>
            <request_method>0</request_method>
            <allow_traps>0</allow_traps>
            <ssl_cert_file/>
            <ssl_key_file/>
            <ssl_key_password/>
            <verify_peer>0</verify_peer>
            <verify_host>0</verify_host>
        {% endif %}
        {% if version == '4.2' %}
            <lld_macro_paths/>
            <preprocessing/>
            <master_item/>
        {% endif %}
        <item_prototypes>
            {% for item in items %}
                <item_prototype>
                    <name>Redis Server[{{ '{#' }}LOCATION}] - {{ item.name|e }}</name>
                    <type>{{ item_type(item.type) }}</type>
                    <key>{{ item.key|e }}</key>
                    {% if 'delay' in item and item.delay %}
                        <delay>{$REDIS_SERVER.ITEM_UPDATE_INTERVAL}</delay>
                    {% else %}
                        <delay>0</delay>
                    {% endif %}
                    {% if 'history' in item and not item.history %}
                        <history>0</history>
                    {% else %}
                        <history>{$REDIS_SERVER.ITEM_HISTORY_STORAGE_PERIOD}</history>
                    {% endif %}
                    {% if 'trends' in item and not item.trends %}
                        <trends>0</trends>
                    {% else %}
                        <trends>{$REDIS_SERVER.ITEM_TREND_STORAGE_PERIOD}</trends>
                    {% endif %}
                    <value_type>{{ item_value_type(item.value_type) }}</value_type>
                    <units>{{ item.units|default('')|e }}</units>
                    <params>{{ item.params|default('')|e }}</params>
                    <applications>
                        <application>
                            <name>Redis Server</name>
                        </application>
                    </applications>
                    {% if 'master_item_key' in item %}
                        <master_item>
                            <key>{{ item.master_item_key|e }}</key>
                        </master_item>
                    {% elif version in ('4.0', '4.2') %}
                        <master_item/>
                    {% endif %}
                    {% if 'preprocessing' in item %}
                        <preprocessing>
                            {% for step in item.preprocessing %}
                                <step>
                                    <type>{{ preprocessing_type(step.type) }}</type>
                                    <params>{{ step.params|default('')|e }}</params>
                                    {% if version in ('4.2', '4.4') %}
                                        <error_handler>{{ preprocessing_error_handler(step.error_handler|default('ORIGINAL_ERROR')) }}</error_handler>
                                        <error_handler_params/>
                                    {% endif %}
                                </step>
                            {% endfor %}
                        </preprocessing>
                    {% elif version in ('4.0', '4.2') %}
                        <preprocessing/>
                    {% endif %}
                    {% if version in ('4.0', '4.2') %}
                        <snmp_community/>
                        <snmp_oid/>
                        <status>0</status>
                        <allowed_hosts/>
                        <snmpv3_contextname/>
                        <snmpv3_securityname/>
                        <snmpv3_securitylevel>0</snmpv3_securitylevel>
                        <snmpv3_authprotocol>0</snmpv3_authprotocol>
                        <snmpv3_authpassphrase/>
                        <snmpv3_privprotocol>0</snmpv3_privprotocol>
                        <snmpv3_privpassphrase/>
                        <ipmi_sensor/>
                        <authtype>0</authtype>
                        <username/>
                        <password/>
                        <publickey/>
                        <privatekey/>
                        <port/>
                        <description/>
                        <inventory_link>0</inventory_link>
                        <valuemap/>
                        <logtimefmt/>
                        <jmx_endpoint/>
                        <timeout>3s</timeout>
                        <url/>
                        <query_fields/>
                        <posts/>
                        <status_codes>200</status_codes>
                        <follow_redirects>1</follow_redirects>
                        <post_type>0</post_type>
                        <http_proxy/>
                        <headers/>
                        <retrieve_mode>0</retrieve_mode>
                        <request_method>0</request_method>
                        <output_format>0</output_format>
                        <allow_traps>0</allow_traps>
                        <ssl_cert_file/>
                        <ssl_key_file/>
                        <ssl_key_password/>
                        <verify_peer>0</verify_peer>
                        <verify_host>0</verify_host>
                        <application_prototypes/>
                    {% endif %}
                </item_prototype>
            {% endfor %}
        </item_prototypes>
        <trigger_prototypes>
            {% for definition in triggers %}
                <trigger_prototype>
                    {{ trigger(definition) }}
                </trigger_prototype>
            {% endfor %}
        </trigger_prototypes>
        <graph_prototypes>
            {% for graph in graphs %}
                <graph_prototype>
                    <name>Redis Server[{{ '{#' }}LOCATION}] &gt; {{ graph.name|e }}</name>
                    <type>{{ graph_type(graph.type|default('NORMAL')) }}</type>
                    <graph_items>
                        {% for gitem in graph['items'] %}
                            <graph_item>
                                <sortorder>{{ loop.index0 }}</sortorder>
                                <drawtype>{{ graph_item_drawtype(gitem.drawtype|default('SINGLE_LINE')) }}</drawtype>
                                <color>{{ gitem.color }}</color>
                                <yaxisside>{{ graph_item_yaxisside(gitem.yaxisside|default('LEFT')) }}</yaxisside>
                                <calc_fnc>{{ graph_item_calc_fnc(gitem.calc_fnc|default('AVG')) }}</calc_fnc>
                                <item>
                                    <host>Template App {{ name }}</host>
                                    <key>{{ gitem.key|e }}</key>
                                </item>
                                {% if version in ('4.0', '4.2') %}
                                    <type>0</type>
                                {% endif %}
                            </graph_item>
                        {% endfor %}
                    </graph_items>
                    {% if version in ('4.0', '4.2') %}
                        <width>900</width>
                        <height>200</height>
                        <yaxismin>0.0000</yaxismin>
                        <yaxismax>100.0000</yaxismax>
                        <show_work_period>1</show_work_period>
                        <show_triggers>1</show_triggers>
                        <show_legend>1</show_legend>
                        <show_3d>0</show_3d>
                        <percent_left>0.0000</percent_left>
                        <percent_right>0.0000</percent_right>
                        <ymin_type_1>0</ymin_type_1>
                        <ymax_type_1>0</ymax_type_1>
                        <ymin_item_1>0</ymin_item_1>
                        <ymax_item_1>0</ymax_item_1>
                    {% endif %}
                </graph_prototype>
            {% endfor %}
        </graph_prototypes>
    </discovery_rule>
{%- endmacro -%}

{#-#########################################################################-#}
{#- TRIGGERS -#}
{#-#########################################################################-#}

{%- set redis_server_processes_trigger =
    {
        'name': 'Redis Server is not running',
        'expression':
            '{Template App ' + name + ':proc.num[redis-server].last()}'
            '<{$REDIS_SERVER.PROCESSES.MIN}',
        'priority': 'DISASTER',
    } -%}

{#-#########################################################################-#}
{#- MAIN -#}
{#-#########################################################################-#}

<?xml version="1.0" encoding="UTF-8"?>
<zabbix_export>
    <version>{{ version }}</version>
    <date>2018-10-29T09:52:03Z</date>
    <groups>
        <group>
            <name>Templates</name>
        </group>
    </groups>
    <templates>
        <template>
            <template>Template App {{ name }}</template>
            <name>Template App {{ name }}</name>
            {% if version in ('4.0', '4.2') %}
                <description/>
            {% endif %}
            <groups>
                <group>
                    <name>Templates</name>
                </group>
            </groups>
            <applications>
                <application>
                    <name>Redis Server</name>
                </application>
            </applications>
            <templates/>
            <screens/>
            <httptests/>
            {% if version in ('4.2', '4.4') %}
                <tags>
                    <tag>
                        <tag>App</tag>
                        <value>Redis Server</value>
                    </tag>
                </tags>
            {% endif %}

            {#-#############################################################-#}
            {#- ITEMS -#}
            {#-#############################################################-#}

            <items>
                {% for item in [
                        {
                            'name': 'stats',
                            'key': master,
                            'history': false,
                            'trends': false,
                            'value_type': 'TEXT',
                            'triggers': [],
                        },
                        {
                            'name': '$1 processes',
                            'key': 'proc.num[redis-server]',
                            'value_type': 'UNSIGNED',
                            'triggers': [redis_server_processes_trigger],
                        },
                    ] %}
                    <item>
                        <name>Redis Server - {{ item.name|e }}</name>
                        <type>{{ item_type('ZABBIX_ACTIVE') }}</type>
                        <key>{{ item.key|e }}</key>
                        <delay>{$REDIS_SERVER.ITEM_UPDATE_INTERVAL}</delay>
                        {% if 'history' in item and not item.history %}
                            <history>0</history>
                        {% else %}
                            <history>{$REDIS_SERVER.ITEM_HISTORY_STORAGE_PERIOD}</history>
                        {% endif %}
                        {% if 'trends' in item and not item.trends %}
                            <trends>0</trends>
                        {% else %}
                            <trends>{$REDIS_SERVER.ITEM_TREND_STORAGE_PERIOD}</trends>
                        {% endif %}
                        <value_type>{{ item_value_type(item.value_type) }}</value_type>
                        <units>{{ item.units|default('')|e }}</units>
                        <applications>
                            <application>
                                <name>Redis Server</name>
                            </application>
                        </applications>
                        {% if version in ('4.0', '4.2') %}
                            <snmp_community/>
                            <snmp_oid/>
                            <status>0</status>
                            <allowed_hosts/>
                            <snmpv3_contextname/>
                            <snmpv3_securityname/>
                            <snmpv3_securitylevel>0</snmpv3_securitylevel>
                            <snmpv3_authprotocol>0</snmpv3_authprotocol>
                            <snmpv3_authpassphrase/>
                            <snmpv3_privprotocol>0</snmpv3_privprotocol>
                            <snmpv3_privpassphrase/>
                            <params/>
                            <ipmi_sensor/>
                            <authtype>0</authtype>
                            <username/>
                            <password/>
                            <publickey/>
                            <privatekey/>
                            <port/>
                            <description/>
                            <inventory_link>0</inventory_link>
                            <valuemap/>
                            <logtimefmt/>
                            <preprocessing/>
                            <jmx_endpoint/>
                            <timeout>3s</timeout>
                            <url/>
                            <query_fields/>
                            <posts/>
                            <status_codes>200</status_codes>
                            <follow_redirects>1</follow_redirects>
                            <post_type>0</post_type>
                            <http_proxy/>
                            <headers/>
                            <retrieve_mode>0</retrieve_mode>
                            <request_method>0</request_method>
                            <output_format>0</output_format>
                            <allow_traps>0</allow_traps>
                            <ssl_cert_file/>
                            <ssl_key_file/>
                            <ssl_key_password/>
                            <verify_peer>0</verify_peer>
                            <verify_host>0</verify_host>
                            <master_item/>
                        {% endif %}
                        {% if version == '4.4' and item.triggers %}
                            <triggers>
                                {% for definition in item.triggers %}
                                    <trigger>
                                        {{ trigger(definition) }}
                                    </trigger>
                                {% endfor %}
                            </triggers>
                        {% endif %}
                    </item>
                {% endfor %}
            </items>

            {#-#############################################################-#}
            {#- DISCOVERY RULES -#}
            {#-#############################################################-#}

            <discovery_rules>
                {#-#########################################################-#}
                {#- ITEMS DISCOVERY -#}
                {#-#########################################################-#}

                {{ discovery_rule(
                    {
                        'name': 'Items discovery',
                        'key': 'redis_server.discovery["{$REDIS_SERVER.LOCATIONS}","items"]',
                        'context': 'items',
                    },
                    [
                        {
                            'name': 'clients:blocked_clients',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","clients:blocked_clients"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.clients:blocked_clients\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'clients:connected_clients',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","clients:connected_clients"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.clients:connected_clients\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_known_nodes',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_known_nodes"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_known_nodes\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_size',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_size"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_size\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_slots_assigned',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_assigned"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_slots_assigned\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_slots_fail',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_fail"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_slots_fail\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_slots_ok',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_ok"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_slots_ok\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_slots_pfail',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_pfail"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_slots_pfail\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cluster:cluster_state',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_state"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cluster:cluster_state\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'cpu:used_cpu_sys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_sys"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cpu:used_cpu_sys\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'cpu:used_cpu_sys_children',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_sys_children"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cpu:used_cpu_sys_children\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'cpu:used_cpu_user',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_user"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cpu:used_cpu_user\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'cpu:used_cpu_user_children',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_user_children"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.cpu:used_cpu_user_children\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'hit_ratio',
                            'type': 'CALCULATED',
                            'key': 'redis_server.info["{#LOCATION_ID}","hit_ratio"]',
                            'value_type': 'FLOAT',
                            'units': '%',
                            'delay': true,
                            'params': '100*last("redis_server.info[\\"{#LOCATION_ID}\\",\\"stats:keyspace_hits\\"]")/(last("redis_server.info[\\"{#LOCATION_ID}\\",\\"stats:keyspace_hits\\"]")+last("redis_server.info[\\"{#LOCATION_ID}\\",\\"stats:keyspace_misses\\"]")+(count("redis_server.info[\\"{#LOCATION_ID}\\",\\"stats:keyspace_hits\\"]",#1,0)*count("redis_server.info[\\"{#LOCATION_ID}\\",\\"stats:keyspace_misses\\"]",#1,0)))',
                        },
                        {
                            'name': 'memory:mem_fragmentation_ratio',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:mem_fragmentation_ratio"]',
                            'value_type': 'FLOAT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.memory:mem_fragmentation_ratio\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'memory:used_memory',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory"]',
                            'value_type': 'UNSIGNED',
                            'units': 'B',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.memory:used_memory\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'memory:used_memory_lua',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory_lua"]',
                            'value_type': 'UNSIGNED',
                            'units': 'B',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.memory:used_memory_lua\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'memory:used_memory_rss',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory_rss"]',
                            'value_type': 'UNSIGNED',
                            'units': 'B',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.memory:used_memory_rss\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:aof_last_bgrewrite_status',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_bgrewrite_status"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:aof_last_bgrewrite_status\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:aof_last_rewrite_time_sec',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_rewrite_time_sec"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:aof_last_rewrite_time_sec\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:aof_last_write_status',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_write_status"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:aof_last_write_status\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:rdb_changes_since_last_save',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_changes_since_last_save"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:rdb_changes_since_last_save\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:rdb_last_bgsave_status',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_bgsave_status"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:rdb_last_bgsave_status\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:rdb_last_bgsave_time_sec',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_bgsave_time_sec"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:rdb_last_bgsave_time_sec\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'persistence:rdb_last_save_time',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_save_time"]',
                            'value_type': 'UNSIGNED',
                            'units': 'unixtime',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.persistence:rdb_last_save_time\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'replication:connected_slaves',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","replication:connected_slaves"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.replication:connected_slaves\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'replication:role',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","replication:role"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.replication:role\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'server:uptime_in_seconds',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","server:uptime_in_seconds"]',
                            'value_type': 'UNSIGNED',
                            'units': 'uptime',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.server:uptime_in_seconds\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'stats:evicted_keys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:evicted_keys"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:evicted_keys\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:expired_keys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:expired_keys"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:expired_keys\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:keyspace_hits',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:keyspace_hits"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:keyspace_hits\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:keyspace_misses',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:keyspace_misses"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:keyspace_misses\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:pubsub_channels',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:pubsub_channels"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:pubsub_channels\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'stats:pubsub_patterns',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:pubsub_patterns"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:pubsub_patterns\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'stats:rejected_connections',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:rejected_connections"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:rejected_connections\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:sync_full',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_full"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:sync_full\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:sync_partial_err',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_partial_err"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:sync_partial_err\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:sync_partial_ok',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_partial_ok"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:sync_partial_ok\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:total_commands_processed',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_commands_processed"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:total_commands_processed\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:total_connections_received',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_connections_received"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:total_connections_received\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:total_net_input_bytes',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_net_input_bytes"]',
                            'value_type': 'FLOAT',
                            'units': 'Bps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:total_net_input_bytes\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'stats:total_net_output_bytes',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_net_output_bytes"]',
                            'value_type': 'FLOAT',
                            'units': 'Bps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.stats:total_net_output_bytes\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                    ],
                    [
                        {
                            'name': 'Redis Server[{#LOCATION}] has been restarted',
                            'expression':
                                '{Template App ' + name + ':redis_server.info["{#LOCATION_ID}","server:uptime_in_seconds"].max(#1)}'
                                '<{$REDIS_SERVER.UPTIME.MIN:"{#LOCATION_ID}"}',
                            'priority': 'HIGH',
                        },
                        {
                            'name': 'Redis Server[{#LOCATION}] is a master without slaves',
                            'expression':
                                '{Template App ' + name + ':redis_server.info["{#LOCATION_ID}","replication:role"].str(master)}=1'
                                ' and {Template App ' + name + ':redis_server.info["{#LOCATION_ID}","replication:connected_slaves"].last()}=0',
                            'priority': 'HIGH',
                        },
                        {
                            'name': 'Redis Server[{#LOCATION}] is evicting keys',
                            'expression':
                                '{Template App ' + name + ':redis_server.info["{#LOCATION_ID}","stats:evicted_keys"].last()}'
                                '>{$REDIS_SERVER.EVICTED_KEYS.MAX:"{#LOCATION_ID}"}',
                            'priority': 'HIGH',
                        },
                    ],
                    [
                        {
                            'name': 'Clients',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","clients:connected_clients"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","clients:blocked_clients"]',
                                },
                            ],
                        },
                        {
                            'name': 'Cluster: nodes',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_known_nodes"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_size"]',
                                },
                            ],
                        },
                        {
                            'name': 'Cluster: slots',
                            'items': [
                                {
                                    'color': 'C800C8',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_assigned"]',
                                },
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_ok"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_fail"]',
                                },
                                {
                                    'color': '0000C8',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_pfail"]',
                                },
                            ],
                        },
                        {
                            'name': 'Commands',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:total_commands_processed"]',
                                },
                            ],
                        },
                        {
                            'name': 'Connections',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:total_connections_received"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:rejected_connections"]',
                                },
                            ],
                        },
                        {
                            'name': 'CPU: children usage',
                            'type': 'STACKED',
                            'items': [
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_sys_children"]',
                                },
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_user_children"]',
                                },
                            ],
                        },
                        {
                            'name': 'CPU: parent usage',
                            'type': 'STACKED',
                            'items': [
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_sys"]',
                                },
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_user"]',
                                },
                            ],
                        },
                        {
                            'name': 'Keyspace: expired & evicted keys',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:expired_keys"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:evicted_keys"]',
                                },
                            ],
                        },
                        {
                            'name': 'Keyspace: hits vs. misses',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:keyspace_hits"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:keyspace_misses"]',
                                },
                                {
                                    'color': '0000C8',
                                    'yaxisside': 'RIGHT',
                                    'key': 'redis_server.info["{#LOCATION_ID}","hit_ratio"]',
                                },
                            ],
                        },
                        {
                            'name': 'Memory: fragmentation ratio',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","memory:mem_fragmentation_ratio"]',
                                },
                            ],
                        },
                        {
                            'name': 'Memory: LUA usage',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory_lua"]',
                                },
                            ],
                        },
                        {
                            'name': 'Memory: total usage',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory_rss"]',
                                },
                            ],
                        },
                        {
                            'name': 'Networking',
                            'type': 'STACKED',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:total_net_input_bytes"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:total_net_output_bytes"]',
                                },
                            ],
                        },
                        {
                            'name': 'Persistence: changes since last RDB save',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_changes_since_last_save"]',
                                },
                            ],
                        },
                        {
                            'name': 'Persistence: last AOF rewrite time',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_rewrite_time_sec"]',
                                },
                            ],
                        },
                        {
                            'name': 'Persistence: last RDB save time',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_bgsave_time_sec"]',
                                },
                            ],
                        },
                        {
                            'name': 'Pub/Sub',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:pubsub_channels"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:pubsub_patterns"]',
                                },
                            ],
                        },
                        {
                            'name': 'Replication',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","replication:connected_slaves"]',
                                },
                            ],
                        },
                        {
                            'name': 'Syncs',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_full"]',
                                },
                                {
                                    'color': '0000C8',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_partial_ok"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_partial_err"]',
                                },
                            ],
                        },
                        {
                            'name': 'Uptime',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","server:uptime_in_seconds"]',
                                },
                            ],
                        },
                    ]) }}

                {#-#########################################################-#}
                {#- KEYSPACE DISCOVERY -#}
                {#-#########################################################-#}

                {{ discovery_rule(
                    {
                        'name': 'Keyspace discovery',
                        'key': 'redis_server.discovery["{$REDIS_SERVER.LOCATIONS}","keyspace"]',
                        'context': 'keyspace',
                    },
                    [
                        {
                            'name': 'keyspace:{#SUBJECT}:avg_ttl',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:avg_ttl"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.keyspace:{#SUBJECT_ID}:avg_ttl\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'keyspace:{#SUBJECT}:expires',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:expires"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.keyspace:{#SUBJECT_ID}:expires\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'keyspace:{#SUBJECT}:keys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:keys"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.keyspace:{#SUBJECT_ID}:keys\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                    ],
                    [
                    ],
                    [
                        {
                            'name': 'Keyspace[{#SUBJECT}]: average TTL',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:avg_ttl"]',
                                },
                            ],
                        },
                        {
                            'name': 'Keyspace[{#SUBJECT}]: keys',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:keys"]',
                                },
                            ],
                        },
                    ]) }}

                {#-#########################################################-#}
                {#- COMMANDSTATS DISCOVERY -#}
                {#-#########################################################-#}

                {{ discovery_rule(
                    {
                        'name': 'Commandstats discovery',
                        'key': 'redis_server.discovery["{$REDIS_SERVER.LOCATIONS}","commandstats"]',
                        'context': 'commandstats',
                    },
                    [
                        {
                            'name': 'commandstats:{#SUBJECT}:calls',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","commandstats:{#SUBJECT}:calls"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.commandstats:{#SUBJECT}:calls\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'name': 'commandstats:{#SUBJECT}:usec_per_call',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","commandstats:{#SUBJECT}:usec_per_call"]',
                            'value_type': 'FLOAT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.commandstats:{#SUBJECT}:usec_per_call\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        }
                    ],
                    [
                    ],
                    [
                        {
                            'name': 'Command stats[{#SUBJECT}]: calls',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","commandstats:{#SUBJECT}:calls"]',
                                },
                            ],
                        },
                        {
                            'name': 'Command stats[{#SUBJECT}]: usec / call',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_server.info["{#LOCATION_ID}","commandstats:{#SUBJECT}:usec_per_call"]',
                                },
                            ],
                        },
                    ]) }}
            </discovery_rules>

            {#-#############################################################-#}
            {#- MACROS -#}
            {#-#############################################################-#}

            <macros>
                {% for macro in [
                        ('{$REDIS_SERVER.LOCATIONS}', ''),

                        ('{$REDIS_SERVER.PROCESSES.MIN}', '1'),

                        ('{$REDIS_SERVER.LLD_KEEP_LOST_RESOURCES_PERIOD}', '30d'),
                        ('{$REDIS_SERVER.LLD_UPDATE_INTERVAL}', '1h'),

                        ('{$REDIS_SERVER.ITEM_HISTORY_STORAGE_PERIOD}', '30d'),
                        ('{$REDIS_SERVER.ITEM_TREND_STORAGE_PERIOD}', '365d'),
                        ('{$REDIS_SERVER.ITEM_UPDATE_INTERVAL}', '1m'),


                        ('{$REDIS_SERVER.EVICTED_KEYS.MAX}', '0.0'),
                        ('{$REDIS_SERVER.UPTIME.MIN}', '10m'),
                    ] %}
                    <macro>
                        <macro>{{ macro[0]|e }}</macro>
                        <value>{{ macro[1]|e }}</value>
                    </macro>
                {% endfor %}
            </macros>
        </template>
    </templates>

    {#-#####################################################################-#}
    {#- TRIGGERS -#}
    {#-#####################################################################-#}

    {% if version in ('4.0', '4.2') %}
        <triggers>
            {% for definition in [
                    redis_server_processes_trigger,
                ] %}
                <trigger>
                    {{ trigger(definition) }}
                </trigger>
            {% endfor %}
        </triggers>
    {% endif %}
</zabbix_export>
