{%- set name = name|default('Redis Sentinel') -%}

{%- set master = 'redis_sentinel.stats["{$REDIS_SENTINEL.LOCATIONS}"]' -%}

{#-#########################################################################-#}
{#- MACROS -#}
{#-#########################################################################-#}

{%- macro item_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'TRAP': 2,
            'ZABBIX_ACTIVE': 7,
            'CALCULATED': 15,
            'DEPENDENT': 18,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro item_value_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'FLOAT': 0,
            'UNSIGNED': 3,
            'TEXT': 4,
            'DEPENDENT': 18,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro trigger_priority(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'WARNING': 2,
            'HIGH': 4,
            'DISASTER': 5,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro trigger_recovery(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'EXPRESSION': 0,
            'RECOVERY_EXPRESSION': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro preprocessing_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'BOOL_TO_DECIMAL': 6,
            'CHANGE_PER_SECOND': 10,
            'JSONPATH': 12,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro preprocessing_error_handler(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'ORIGINAL_ERROR': 0,
            'DISCARD_VALUE': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_type(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'NORMAL': 0,
            'STACKED': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_item_drawtype(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'SINGLE_LINE': 0,
            'FILLED_REGION': 1,
            'BOLD_LINE': 2,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_item_yaxisside(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'LEFT': 0,
            'RIGHT': 1,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro graph_item_calc_fnc(name) -%}
    {%- if version == '4.4' -%}
        {{ name }}
    {%- else -%}
        {{ {
            'MIN': 1,
            'AVG': 2,
        }[name] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro trigger(definition) -%}
    <expression>{{ definition.expression|e }}</expression>
    <name>{{ definition.name|e }}</name>
    <priority>{{ trigger_priority(definition.priority) }}</priority>
    {% if 'recovery' in definition %}
        <recovery_mode>{{ trigger_recovery('RECOVERY_EXPRESSION') }}</recovery_mode>
        <recovery_expression>{{ definition.recovery|e }}</recovery_expression>
    {% else %}
        <recovery_mode>{{ trigger_recovery('EXPRESSION') }}</recovery_mode>
        <recovery_expression/>
    {% endif %}
    {% if version in ('4.0', '4.2') %}
        <correlation_mode>0</correlation_mode>
        <correlation_tag/>
        <url/>
        <status>0</status>
        <description/>
        <type>0</type>
        <manual_close>0</manual_close>
        <dependencies/>
        <tags/>
    {% endif %}
{%- endmacro -%}

{%- macro discovery_rule(rule, items, triggers, graphs) -%}
    <discovery_rule>
        <name>{{ rule.name|e }}</name>
        <type>{{ item_type('ZABBIX_ACTIVE') }}</type>
        <key>{{ rule.key|e }}</key>
        <delay>{$REDIS_SENTINEL.LLD_UPDATE_INTERVAL:&quot;{{ rule.context }}&quot;}</delay>
        <lifetime>{$REDIS_SENTINEL.LLD_KEEP_LOST_RESOURCES_PERIOD:&quot;{{ rule.context }}&quot;}</lifetime>
        {% if version in ('4.0', '4.2') %}
            <snmp_community/>
            <snmp_oid/>
            <status>0</status>
            <allowed_hosts/>
            <snmpv3_contextname/>
            <snmpv3_securityname/>
            <snmpv3_securitylevel>0</snmpv3_securitylevel>
            <snmpv3_authprotocol>0</snmpv3_authprotocol>
            <snmpv3_authpassphrase/>
            <snmpv3_privprotocol>0</snmpv3_privprotocol>
            <snmpv3_privpassphrase/>
            <params/>
            <ipmi_sensor/>
            <authtype>0</authtype>
            <username/>
            <password/>
            <publickey/>
            <privatekey/>
            <port/>
            <filter>
                <evaltype>0</evaltype>
                <formula/>
                <conditions/>
            </filter>
            <description/>
            <host_prototypes/>
            <jmx_endpoint/>
            <timeout>3s</timeout>
            <url/>
            <query_fields/>
            <posts/>
            <status_codes>200</status_codes>
            <follow_redirects>1</follow_redirects>
            <post_type>0</post_type>
            <http_proxy/>
            <headers/>
            <retrieve_mode>0</retrieve_mode>
            <request_method>0</request_method>
            <allow_traps>0</allow_traps>
            <ssl_cert_file/>
            <ssl_key_file/>
            <ssl_key_password/>
            <verify_peer>0</verify_peer>
            <verify_host>0</verify_host>
        {% endif %}
        {% if version == '4.2' %}
            <lld_macro_paths/>
            <preprocessing/>
            <master_item/>
        {% endif %}
        <item_prototypes>
            {% for item in items %}
                <item_prototype>
                    <name>Redis Sentinel[{{ '{#' }}LOCATION}] - {{ item.name|e }}</name>
                    <type>{{ item_type(item.type) }}</type>
                    <key>{{ item.key|e }}</key>
                    {% if 'delay' in item and item.delay %}
                        <delay>{$REDIS_SENTINEL.ITEM_UPDATE_INTERVAL}</delay>
                    {% else %}
                        <delay>0</delay>
                    {% endif %}
                    {% if 'history' in item and not item.history %}
                        <history>0</history>
                    {% else %}
                        <history>{$REDIS_SENTINEL.ITEM_HISTORY_STORAGE_PERIOD}</history>
                    {% endif %}
                    {% if 'trends' in item and not item.trends %}
                        <trends>0</trends>
                    {% else %}
                        <trends>{$REDIS_SENTINEL.ITEM_TREND_STORAGE_PERIOD}</trends>
                    {% endif %}
                    <value_type>{{ item_value_type(item.value_type) }}</value_type>
                    <units>{{ item.units|default('')|e }}</units>
                    <params>{{ item.params|default('')|e }}</params>
                    <applications>
                        <application>
                            <name>Redis Sentinel</name>
                        </application>
                    </applications>
                    {% if 'master_item_key' in item %}
                        <master_item>
                            <key>{{ item.master_item_key|e }}</key>
                        </master_item>
                    {% elif version in ('4.0', '4.2') %}
                        <master_item/>
                    {% endif %}
                    {% if 'preprocessing' in item %}
                        <preprocessing>
                            {% for step in item.preprocessing %}
                                <step>
                                    <type>{{ preprocessing_type(step.type) }}</type>
                                    <params>{{ step.params|default('')|e }}</params>
                                    {% if version in ('4.2', '4.4') %}
                                        <error_handler>{{ preprocessing_error_handler(step.error_handler|default('ORIGINAL_ERROR')) }}</error_handler>
                                        <error_handler_params/>
                                    {% endif %}
                                </step>
                            {% endfor %}
                        </preprocessing>
                    {% elif version in ('4.0', '4.2') %}
                        <preprocessing/>
                    {% endif %}
                    {% if version in ('4.0', '4.2') %}
                        <snmp_community/>
                        <snmp_oid/>
                        <status>0</status>
                        <allowed_hosts/>
                        <snmpv3_contextname/>
                        <snmpv3_securityname/>
                        <snmpv3_securitylevel>0</snmpv3_securitylevel>
                        <snmpv3_authprotocol>0</snmpv3_authprotocol>
                        <snmpv3_authpassphrase/>
                        <snmpv3_privprotocol>0</snmpv3_privprotocol>
                        <snmpv3_privpassphrase/>
                        <ipmi_sensor/>
                        <authtype>0</authtype>
                        <username/>
                        <password/>
                        <publickey/>
                        <privatekey/>
                        <port/>
                        <description/>
                        <inventory_link>0</inventory_link>
                        <valuemap/>
                        <logtimefmt/>
                        <jmx_endpoint/>
                        <timeout>3s</timeout>
                        <url/>
                        <query_fields/>
                        <posts/>
                        <status_codes>200</status_codes>
                        <follow_redirects>1</follow_redirects>
                        <post_type>0</post_type>
                        <http_proxy/>
                        <headers/>
                        <retrieve_mode>0</retrieve_mode>
                        <request_method>0</request_method>
                        <output_format>0</output_format>
                        <allow_traps>0</allow_traps>
                        <ssl_cert_file/>
                        <ssl_key_file/>
                        <ssl_key_password/>
                        <verify_peer>0</verify_peer>
                        <verify_host>0</verify_host>
                        <application_prototypes/>
                    {% endif %}
                </item_prototype>
            {% endfor %}
        </item_prototypes>
        <trigger_prototypes>
            {% for definition in triggers %}
                <trigger_prototype>
                    {{ trigger(definition) }}
                </trigger_prototype>
            {% endfor %}
        </trigger_prototypes>
        <graph_prototypes>
            {% for graph in graphs %}
                <graph_prototype>
                    <name>Redis Sentinel[{{ '{#' }}LOCATION}] &gt; {{ graph.name|e }}</name>
                    <type>{{ graph_type(graph.type|default('NORMAL')) }}</type>
                    <graph_items>
                        {% for gitem in graph['items'] %}
                            <graph_item>
                                <sortorder>{{ loop.index0 }}</sortorder>
                                <drawtype>{{ graph_item_drawtype(gitem.drawtype|default('SINGLE_LINE')) }}</drawtype>
                                <color>{{ gitem.color }}</color>
                                <yaxisside>{{ graph_item_yaxisside(gitem.yaxisside|default('LEFT')) }}</yaxisside>
                                <calc_fnc>{{ graph_item_calc_fnc(gitem.calc_fnc|default('AVG')) }}</calc_fnc>
                                <item>
                                    <host>Template App {{ name }}</host>
                                    <key>{{ gitem.key|e }}</key>
                                </item>
                                {% if version in ('4.0', '4.2') %}
                                    <type>0</type>
                                {% endif %}
                            </graph_item>
                        {% endfor %}
                    </graph_items>
                    {% if version in ('4.0', '4.2') %}
                        <width>900</width>
                        <height>200</height>
                        <yaxismin>0.0000</yaxismin>
                        <yaxismax>100.0000</yaxismax>
                        <show_work_period>1</show_work_period>
                        <show_triggers>1</show_triggers>
                        <show_legend>1</show_legend>
                        <show_3d>0</show_3d>
                        <percent_left>0.0000</percent_left>
                        <percent_right>0.0000</percent_right>
                        <ymin_type_1>0</ymin_type_1>
                        <ymax_type_1>0</ymax_type_1>
                        <ymin_item_1>0</ymin_item_1>
                        <ymax_item_1>0</ymax_item_1>
                    {% endif %}
                </graph_prototype>
            {% endfor %}
        </graph_prototypes>
    </discovery_rule>
{%- endmacro -%}

{#-#########################################################################-#}
{#- TRIGGERS -#}
{#-#########################################################################-#}

{%- set redis_sentinel_processes_trigger =
    {
        'name': 'Redis Sentinel is not running',
        'expression':
            '{Template App ' + name + ':proc.num[redis-sentinel].last()}'
            '<{$REDIS_SENTINEL.PROCESSES.MIN}',
        'priority': 'DISASTER',
    } -%}

{#-#########################################################################-#}
{#- MAIN -#}
{#-#########################################################################-#}

<?xml version="1.0" encoding="UTF-8"?>
<zabbix_export>
    <version>{{ version }}</version>
    <date>2018-10-30T08:22:30Z</date>
    <groups>
        <group>
            <name>Templates</name>
        </group>
    </groups>
    <templates>
        <template>
            <template>Template App {{ name }}</template>
            <name>Template App {{ name }}</name>
            {% if version in ('4.0', '4.2') %}
                <description/>
            {% endif %}
            <groups>
                <group>
                    <name>Templates</name>
                </group>
            </groups>
            <applications>
                <application>
                    <name>Redis Sentinel</name>
                </application>
            </applications>
            <templates/>
            <screens/>
            <httptests/>
            {% if version in ('4.2', '4.4') %}
                <tags>
                    <tag>
                        <tag>App</tag>
                        <value>Redis Sentinel</value>
                    </tag>
                </tags>
            {% endif %}

            {#-#############################################################-#}
            {#- ITEMS -#}
            {#-#############################################################-#}

            <items>
                {% for item in [
                        {
                            'name': 'stats',
                            'key': master,
                            'history': false,
                            'trends': false,
                            'value_type': 'TEXT',
                            'triggers': [],
                        },
                        {
                            'name': '$1 processes',
                            'key': 'proc.num[redis-sentinel]',
                            'value_type': 'UNSIGNED',
                            'triggers': [redis_sentinel_processes_trigger],
                        },
                    ] %}
                    <item>
                        <name>Redis Sentinel - {{ item.name|e }}</name>
                        <type>{{ item_type('ZABBIX_ACTIVE') }}</type>
                        <key>{{ item.key|e }}</key>
                        <delay>{$REDIS_SENTINEL.ITEM_UPDATE_INTERVAL}</delay>
                        {% if 'history' in item and not item.history %}
                            <history>0</history>
                        {% else %}
                            <history>{$REDIS_SENTINEL.ITEM_HISTORY_STORAGE_PERIOD}</history>
                        {% endif %}
                        {% if 'trends' in item and not item.trends %}
                            <trends>0</trends>
                        {% else %}
                            <trends>{$REDIS_SENTINEL.ITEM_TREND_STORAGE_PERIOD}</trends>
                        {% endif %}
                        <value_type>{{ item_value_type(item.value_type) }}</value_type>
                        <units>{{ item.units|default('')|e }}</units>
                        <applications>
                            <application>
                                <name>Redis Sentinel</name>
                            </application>
                        </applications>
                        {% if version in ('4.0', '4.2') %}
                            <snmp_community/>
                            <snmp_oid/>
                            <status>0</status>
                            <allowed_hosts/>
                            <snmpv3_contextname/>
                            <snmpv3_securityname/>
                            <snmpv3_securitylevel>0</snmpv3_securitylevel>
                            <snmpv3_authprotocol>0</snmpv3_authprotocol>
                            <snmpv3_authpassphrase/>
                            <snmpv3_privprotocol>0</snmpv3_privprotocol>
                            <snmpv3_privpassphrase/>
                            <params/>
                            <ipmi_sensor/>
                            <authtype>0</authtype>
                            <username/>
                            <password/>
                            <publickey/>
                            <privatekey/>
                            <port/>
                            <description/>
                            <inventory_link>0</inventory_link>
                            <valuemap/>
                            <logtimefmt/>
                            <preprocessing/>
                            <jmx_endpoint/>
                            <timeout>3s</timeout>
                            <url/>
                            <query_fields/>
                            <posts/>
                            <status_codes>200</status_codes>
                            <follow_redirects>1</follow_redirects>
                            <post_type>0</post_type>
                            <http_proxy/>
                            <headers/>
                            <retrieve_mode>0</retrieve_mode>
                            <request_method>0</request_method>
                            <output_format>0</output_format>
                            <allow_traps>0</allow_traps>
                            <ssl_cert_file/>
                            <ssl_key_file/>
                            <ssl_key_password/>
                            <verify_peer>0</verify_peer>
                            <verify_host>0</verify_host>
                            <master_item/>
                        {% endif %}
                        {% if version == '4.4' and item.triggers %}
                            <triggers>
                                {% for definition in item.triggers %}
                                    <trigger>
                                        {{ trigger(definition) }}
                                    </trigger>
                                {% endfor %}
                            </triggers>
                        {% endif %}
                    </item>
                {% endfor %}
            </items>

            {#-#############################################################-#}
            {#- DISCOVERY RULES -#}
            {#-#############################################################-#}

            <discovery_rules>
                {#-#########################################################-#}
                {#- ITEMS DISCOVERY -#}
                {#-#########################################################-#}

                {{ discovery_rule(
                    {
                        'name': 'Items discovery',
                        'key': 'redis_sentinel.discovery["{$REDIS_SENTINEL.LOCATIONS}","items"]',
                        'context': 'items',
                    },
                    [
                        {
                            'name': 'sentinel:sentinel_masters',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","sentinel:sentinel_masters"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.sentinel:sentinel_masters\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'sentinel:sentinel_running_scripts',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","sentinel:sentinel_running_scripts"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.sentinel:sentinel_running_scripts\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'sentinel:sentinel_scripts_queue_length',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","sentinel:sentinel_scripts_queue_length"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.sentinel:sentinel_scripts_queue_length\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'server:uptime_in_seconds',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","server:uptime_in_seconds"]',
                            'value_type': 'UNSIGNED',
                            'units': 'uptime',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.server:uptime_in_seconds\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                    ],
                    [
                        {
                            'name': 'Redis Sentinel[{#LOCATION}] has been restarted',
                            'expression':
                                '{Template App ' + name + ':redis_sentinel.info["{#LOCATION_ID}","server:uptime_in_seconds"].last()}'
                                '<{$REDIS_SENTINEL.UPTIME.MIN:"{#LOCATION_ID}"}',
                            'priority': 'HIGH',
                        },
                    ],
                    [
                        {
                            'name': 'Masters',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","sentinel:sentinel_masters"]',
                                },
                            ],
                        },
                        {
                            'name': 'Scripts',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","sentinel:sentinel_running_scripts"]',
                                },
                                {
                                    'color': 'C80000',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","sentinel:sentinel_scripts_queue_length"]',
                                },
                            ],
                        },
                        {
                            'name': 'Uptime',
                            'items': [
                                {
                                    'color': '00C800',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","server:uptime_in_seconds"]',
                                },
                            ],
                        },
                    ]) }}

                {#-#########################################################-#}
                {#- MASTERS DISCOVERY -#}
                {#-#########################################################-#}

                {{ discovery_rule(
                    {
                        'name': 'Masters discovery',
                        'key': 'redis_sentinel.discovery["{$REDIS_SENTINEL.LOCATIONS}","masters"]',
                        'context': 'masters',
                    },
                    [
                        {
                            'name': 'masters:{#SUBJECT}:ckquorum',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:ckquorum"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.masters:{#SUBJECT_ID}:ckquorum\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'BOOL_TO_DECIMAL',
                                },
                            ],
                        },
                        {
                            'name': 'masters:{#SUBJECT}:sentinels',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:sentinels"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.masters:{#SUBJECT_ID}:sentinels\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'masters:{#SUBJECT}:slaves',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:slaves"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.masters:{#SUBJECT_ID}:slaves\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'masters:{#SUBJECT}:status',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:status"]',
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.masters:{#SUBJECT_ID}:status\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'name': 'masters:{#SUBJECT}:usable_sentinels',
                            'type': 'DEPENDENT',
                            'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:usable_sentinels"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': '$[\'{#LOCATION_ID}.masters:{#SUBJECT_ID}:usable_sentinels\']',
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                    ],
                    [
                        {
                            'name': 'Redis Sentinel[{#LOCATION}] {#SUBJECT} cannot reach quorum',
                            'expression':
                                '{Template App ' + name + ':redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:ckquorum"].last()}'
                                '<>1',
                            'priority': 'HIGH',
                        },
                        {
                            'name': 'Redis Sentinel[{#LOCATION}] {#SUBJECT} is not able to use all sentinels',
                            'expression':
                                '{Template App ' + name + ':redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:sentinels"].last()}'
                                '<>{Template App ' + name + ':redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:usable_sentinels"].last()}',
                            'priority': 'HIGH',
                        },
                    ],
                    [
                        {
                            'name': 'Masters[{#SUBJECT}]: quorum',
                            'items': [
                                {
                                    'drawtype': 'BOLD_LINE',
                                    'color': 'C80000',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:ckquorum"]',
                                },
                                {
                                    'color': '0000C8',
                                    'yaxisside': 'RIGHT',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:sentinels"]',
                                },
                                {
                                    'drawtype': 'FILLED_REGION',
                                    'color': '00C800',
                                    'yaxisside': 'RIGHT',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:usable_sentinels"]',
                                },
                            ],
                        },
                        {
                            'name': 'Masters[{#SUBJECT}]: slaves',
                            'items': [
                                {
                                    'color': 'C80000',
                                    'key': 'redis_sentinel.info["{#LOCATION_ID}","masters:{#SUBJECT_ID}:slaves"]',
                                },
                            ],
                        },
                    ]) }}
            </discovery_rules>

            {#-#############################################################-#}
            {#- MACROS -#}
            {#-#############################################################-#}

            <macros>
                {% for macro in [
                        ('{$REDIS_SENTINEL.LOCATIONS}', ''),

                        ('{$REDIS_SENTINEL.PROCESSES.MIN}', '1'),

                        ('{$REDIS_SENTINEL.LLD_KEEP_LOST_RESOURCES_PERIOD}', '30d'),
                        ('{$REDIS_SENTINEL.LLD_UPDATE_INTERVAL}', '1h'),

                        ('{$REDIS_SENTINEL.ITEM_HISTORY_STORAGE_PERIOD}', '30d'),
                        ('{$REDIS_SENTINEL.ITEM_TREND_STORAGE_PERIOD}', '365d'),
                        ('{$REDIS_SENTINEL.ITEM_UPDATE_INTERVAL}', '1m'),

                        ('{$REDIS_SENTINEL.UPTIME.MIN}', '10m'),
                    ] %}
                    <macro>
                        <macro>{{ macro[0]|e }}</macro>
                        <value>{{ macro[1]|e }}</value>
                    </macro>
                {% endfor %}
            </macros>
        </template>
    </templates>

    {#-#####################################################################-#}
    {#- TRIGGERS -#}
    {#-#####################################################################-#}

    {% if version in ('4.0', '4.2') %}
        <triggers>
            {% for definition in [
                    redis_sentinel_processes_trigger,
                ] %}
                <trigger>
                    {{ trigger(definition) }}
                </trigger>
            {% endfor %}
        </triggers>
    {% endif %}
</zabbix_export>
