{%- set name = name|default('Redis Server') -%}

{%- set description = description|default('') -%}

{%- set release = release|default('trunk') -%}

{%- set seed = ['Allenta', 'Redis Server']|join('/') -%}

{%- set master = 'redis_server.stats["{$REDIS_SERVER.LOCATIONS}"]' -%}

{#-#########################################################################-#}
{#- MACROS -#}
{#-#########################################################################-#}

{%- macro trigger(definition) -%}
    <uuid>{{ [seed, definition.id]|join('/')|zuuid }}</uuid>
    <expression>{{ definition.expression|e }}</expression>
    <name>{{ definition.name|e }}</name>
    <priority>{{ definition.priority }}</priority>
    {%- if 'recovery' in definition %}
        <recovery_mode>RECOVERY_EXPRESSION</recovery_mode>
        <recovery_expression>{{ definition.recovery|e }}</recovery_expression>
    {%- endif %}
{%- endmacro -%}

{%- macro discovery_rule(rule, items, triggers) -%}
    <discovery_rule>
        <uuid>{{ [seed, rule.id]|join('/')|zuuid }}</uuid>
        <name>{{ rule.name|e }}</name>
        <type>ZABBIX_ACTIVE</type>
        <key>{{ rule.key|e }}</key>
        <delay>{$REDIS_SERVER.LLD_UPDATE_INTERVAL:&quot;{{ rule.context }}&quot;}</delay>
        <lifetime>{$REDIS_SERVER.LLD_KEEP_LOST_RESOURCES_PERIOD:&quot;{{ rule.context }}&quot;}</lifetime>
        {%- if rule.context != 'items' %}
            <filter>
                <conditions>
                    <condition>
                        {%- if version in ('6.0', '6.2', '6.4', '7.0') %}
                            <formulaid>A</formulaid>
                        {%- endif %}
                        <macro>{{ '{#' }}SUBJECT}</macro>
                        <operator>NOT_MATCHES_REGEX</operator>
                        <value>{$REDIS_SERVER.LLD_EXCLUDED_SUBJECTS:&quot;{{ rule.context }}&quot;}</value>
                    </condition>
                </conditions>
            </filter>
        {%- endif %}
        <item_prototypes>
            {%- for item in items %}
                <item_prototype>
                    <uuid>{{ [seed, item.id]|join('/')|zuuid }}</uuid>
                    <name>Redis Server[{{ '{#' }}LOCATION}] - {{ item.name|e }}</name>
                    <type>{{ item.type }}</type>
                    <key>{{ item.key|e }}</key>
                    {%- if 'delay' in item and item.delay %}
                        <delay>{$REDIS_SERVER.ITEM_UPDATE_INTERVAL}</delay>
                    {%- elif version in ('6.0', '6.2', '6.4', '7.0') %}
                        <delay>0</delay>
                    {%- endif %}
                    {%- if 'history' in item and not item.history %}
                        <history>0</history>
                    {%- else %}
                        <history>{$REDIS_SERVER.ITEM_HISTORY_STORAGE_PERIOD}</history>
                    {%- endif %}
                    {%- if 'trends' in item and not item.trends %}
                        {%- if version in ('6.0', '6.2', '6.4', '7.0') %}
                            <trends>0</trends>
                        {%- endif %}
                    {%- else %}
                        <trends>{$REDIS_SERVER.ITEM_TREND_STORAGE_PERIOD}</trends>
                    {%- endif %}
                    <value_type>{{ item.value_type }}</value_type>
                    <units>{{ item.units|default('')|e }}</units>
                    <params>{{ item.params|default('')|e }}</params>
                    {%- if 'preprocessing' in item %}
                        <preprocessing>
                            {%- for step in item.preprocessing %}
                                <step>
                                    <type>{{ step.type }}</type>
                                    <parameters>
                                        {%- for param in step.params|default([]) %}
                                            <parameter>{{ param|e }}</parameter>
                                        {%- endfor %}
                                    </parameters>
                                    <error_handler>{{ step.error_handler|default('ORIGINAL_ERROR') }}</error_handler>
                                </step>
                            {%- endfor %}
                        </preprocessing>
                    {%- endif %}
                    {%- if 'master_item_key' in item %}
                        <master_item>
                            <key>{{ item.master_item_key|e }}</key>
                        </master_item>
                    {%- endif %}
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Redis Server</value>
                        </tag>
                    </tags>
                    {%- if 'triggers' in item %}
                        <trigger_prototypes>
                            {%- for definition in item.triggers %}
                                <trigger_prototype>
                                    {{ trigger(definition) }}
                                </trigger_prototype>
                            {%- endfor %}
                        </trigger_prototypes>
                    {%- endif %}
                </item_prototype>
            {%- endfor %}
        </item_prototypes>
        <trigger_prototypes>
            {%- for definition in triggers %}
                <trigger_prototype>
                    {{ trigger(definition) }}
                </trigger_prototype>
            {%- endfor %}
        </trigger_prototypes>
    </discovery_rule>
{%- endmacro -%}

{#-#########################################################################-#}
{#- MAIN -#}
{#-#########################################################################-#}

<?xml version="1.0" encoding="UTF-8"?>
<zabbix_export>
    <version>{{ version }}</version>
    {%- if version in ('6.0', '6.2') %}
        <date>2018-10-29T09:52:03Z</date>
    {%- endif %}
    {%- if version != '6.0' %}
        <template_groups>
            <template_group>
    {%- else %}
        <groups>
            <group>
    {%- endif %}
                <uuid>7df96b18c230490a9a0a9e2307226338</uuid>
                <name>Templates</name>
    {%- if version != '6.0' %}
            </template_group>
        </template_groups>
    {%- else %}
            </group>
        </groups>
    {%- endif %}
    <templates>
        <template>
            <uuid>{{ [seed]|join('/')|zuuid }}</uuid>
            <template>Template App {{ name|e }}</template>
            <name>Template App {{ name|e }}</name>
            {%- if description %}
                <description>{{ description|e }}</description>
            {%- endif %}
            {%- if version not in ('6.0', '6.2') %}
                <vendor>
                    <name>Allenta Consulting S.L.</name>
                    <version>{{ version }}-{{ release|e }}</version>
                </vendor>
            {%- endif %}
            <groups>
                <group>
                    <name>Templates</name>
                </group>
            </groups>

            {#-##############################################################}
            {#- ITEMS #}
            {#-##############################################################}

            <items>
                {%- for item in [
                        {
                            'id': 'item-1',
                            'name': 'stats',
                            'key': master,
                            'history': false,
                            'trends': false,
                            'value_type': 'TEXT',
                            'triggers': [],
                        },
                        {
                            'id': 'item-2',
                            'name': '$1 processes',
                            'key': 'proc.num[redis-server]',
                            'value_type': 'UNSIGNED',
                            'triggers': [
                                {
                                    'id': 'trigger-1.1',
                                    'name': 'Redis Server is not running',
                                    'expression':
                                        'last(/Template App ' + name + '/proc.num[redis-server])'
                                        '<{$REDIS_SERVER.PROCESSES.MIN}',
                                    'priority': 'DISASTER',
                                },
                            ],
                        },
                    ] %}
                    <item>
                        <uuid>{{ [seed, item.id]|join('/')|zuuid }}</uuid>
                        <name>Redis Server - {{ item.name|e }}</name>
                        <type>ZABBIX_ACTIVE</type>
                        <key>{{ item.key|e }}</key>
                        <delay>{$REDIS_SERVER.ITEM_UPDATE_INTERVAL}</delay>
                        {%- if 'history' in item and not item.history %}
                            <history>0</history>
                        {%- else %}
                            <history>{$REDIS_SERVER.ITEM_HISTORY_STORAGE_PERIOD}</history>
                        {%- endif %}
                        {%- if 'trends' in item and not item.trends %}
                            {%- if version in ('6.0', '6.2', '6.4', '7.0') %}
                                <trends>0</trends>
                            {%- endif %}
                        {%- else %}
                            <trends>{$REDIS_SERVER.ITEM_TREND_STORAGE_PERIOD}</trends>
                        {%- endif %}
                        <value_type>{{ item.value_type }}</value_type>
                        <units>{{ item.units|default('')|e }}</units>
                        <tags>
                            <tag>
                                <tag>Application</tag>
                                <value>Redis Server</value>
                            </tag>
                        </tags>
                        {%- if item.triggers %}
                            <triggers>
                                {%- for definition in item.triggers %}
                                    <trigger>
                                        {{ trigger(definition) }}
                                    </trigger>
                                {%- endfor %}
                            </triggers>
                        {%- endif %}
                        {%- if item.name == 'stats' %}
                            <preprocessing>
                                <step>
                                    <type>JAVASCRIPT</type>
                                    <parameters>
                                        <parameter>
                                            var exclusions = '{$REDIS_SERVER.EXCLUDED_STATS}'.trim();

                                            // This check is not just a simple optimization to avoid using never matching
                                            // regexps like '^(?!)' when filtering is not needed. JavaScript based filtering
                                            // effectively limits precision of numeric values and it could trigger rendering
                                            // of values using scientific notation.
                                            if (exclusions !== '') {
                                                exclusions = new RegExp(exclusions);

                                                var stats = JSON.parse(value);

                                                Object.keys(stats).forEach(function(key) {
                                                    var name = key.replace(/^[^.]*[.]/, '');
                                                    if (exclusions.test(name)) {
                                                        delete stats[key];
                                                    }
                                                });

                                                return JSON.stringify(stats);
                                            } else {
                                                return value;
                                            }
                                        </parameter>
                                    </parameters>
                                </step>
                            </preprocessing>
                        {%- endif %}
                    </item>
                {%- endfor %}
            </items>

            {#-##############################################################}
            {#- DISCOVERY RULES #}
            {#-##############################################################}

            <discovery_rules>
                {#-##########################################################}
                {#- ITEMS DISCOVERY #}
                {#-##########################################################}

                {{ discovery_rule(
                    {
                        'id': 'discovery-rule-1',
                        'name': 'Items discovery',
                        'key': 'redis_server.discovery["{$REDIS_SERVER.LOCATIONS}","items"]',
                        'context': 'items',
                    },
                    [
                        {
                            'id': 'item-prototype-1.1',
                            'name': 'clients:blocked_clients',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","clients:blocked_clients"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.clients:blocked_clients\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.2',
                            'name': 'clients:connected_clients',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","clients:connected_clients"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.clients:connected_clients\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.3',
                            'name': 'cluster:cluster_known_nodes',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_known_nodes"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_known_nodes\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.4',
                            'name': 'cluster:cluster_size',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_size"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_size\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.5',
                            'name': 'cluster:cluster_slots_assigned',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_assigned"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_slots_assigned\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.6',
                            'name': 'cluster:cluster_slots_fail',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_fail"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_slots_fail\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.7',
                            'name': 'cluster:cluster_slots_ok',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_ok"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_slots_ok\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.8',
                            'name': 'cluster:cluster_slots_pfail',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_slots_pfail"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_slots_pfail\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.9',
                            'name': 'cluster:cluster_state',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cluster:cluster_state"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cluster:cluster_state\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.10',
                            'name': 'cpu:used_cpu_sys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_sys"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cpu:used_cpu_sys\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.11',
                            'name': 'cpu:used_cpu_sys_children',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_sys_children"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cpu:used_cpu_sys_children\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.12',
                            'name': 'cpu:used_cpu_user',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_user"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cpu:used_cpu_user\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.13',
                            'name': 'cpu:used_cpu_user_children',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","cpu:used_cpu_user_children"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.cpu:used_cpu_user_children\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.14',
                            'name': 'hit_ratio',
                            'type': 'CALCULATED',
                            'key': 'redis_server.info["{#LOCATION_ID}","hit_ratio"]',
                            'value_type': 'FLOAT',
                            'units': '%',
                            'delay': true,
                            'params':
                                '100*last(//redis_server.info["{#LOCATION_ID}","stats:keyspace_hits"])/(last(//redis_server.info["{#LOCATION_ID}","stats:keyspace_hits"])+last(//redis_server.info["{#LOCATION_ID}","stats:keyspace_misses"])+(count(//redis_server.info["{#LOCATION_ID}","stats:keyspace_hits"],#1,"eq",0)*count(//redis_server.info["{#LOCATION_ID}","stats:keyspace_misses"],#1,"eq",0)))',
                        },
                        {
                            'id': 'item-prototype-1.15',
                            'name': 'memory:mem_fragmentation_ratio',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:mem_fragmentation_ratio"]',
                            'value_type': 'FLOAT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.memory:mem_fragmentation_ratio\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.16',
                            'name': 'memory:used_memory',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory"]',
                            'value_type': 'UNSIGNED',
                            'units': 'B',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.memory:used_memory\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.17',
                            'name': 'memory:used_memory_lua',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory_lua"]',
                            'value_type': 'UNSIGNED',
                            'units': 'B',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.memory:used_memory_lua\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.18',
                            'name': 'memory:used_memory_rss',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","memory:used_memory_rss"]',
                            'value_type': 'UNSIGNED',
                            'units': 'B',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.memory:used_memory_rss\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.19',
                            'name': 'persistence:aof_last_bgrewrite_status',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_bgrewrite_status"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:aof_last_bgrewrite_status\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.20',
                            'name': 'persistence:aof_last_rewrite_time_sec',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_rewrite_time_sec"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:aof_last_rewrite_time_sec\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.21',
                            'name': 'persistence:aof_last_write_status',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:aof_last_write_status"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:aof_last_write_status\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.22',
                            'name': 'persistence:rdb_changes_since_last_save',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_changes_since_last_save"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:rdb_changes_since_last_save\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.23',
                            'name': 'persistence:rdb_last_bgsave_status',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_bgsave_status"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:rdb_last_bgsave_status\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.24',
                            'name': 'persistence:rdb_last_bgsave_time_sec',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_bgsave_time_sec"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:rdb_last_bgsave_time_sec\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.25',
                            'name': 'persistence:rdb_last_save_time',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","persistence:rdb_last_save_time"]',
                            'value_type': 'UNSIGNED',
                            'units': 'unixtime',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.persistence:rdb_last_save_time\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.26',
                            'name': 'replication:connected_slaves',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","replication:connected_slaves"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.replication:connected_slaves\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.27',
                            'name': 'replication:role',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","replication:role"]',
                            'trends': false,
                            'value_type': 'TEXT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.replication:role\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.28',
                            'name': 'server:uptime_in_seconds',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","server:uptime_in_seconds"]',
                            'value_type': 'UNSIGNED',
                            'units': 'uptime',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.server:uptime_in_seconds\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                            'triggers': [
                                {
                                    'id': 'trigger-prototype-1.28.1',
                                    'name': 'Redis Server[{#LOCATION}] has been restarted',
                                    'expression':
                                        'last(/Template App ' + name + '/redis_server.info["{#LOCATION_ID}","server:uptime_in_seconds"])'
                                        '<{$REDIS_SERVER.UPTIME.MIN:"{#LOCATION_ID}"}',
                                    'priority': 'HIGH',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.29',
                            'name': 'stats:evicted_keys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:evicted_keys"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:evicted_keys\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                            'triggers': [
                                {
                                    'id': 'trigger-prototype-1.29.1',
                                    'name': 'Redis Server[{#LOCATION}] is evicting keys',
                                    'expression':
                                        '{$REDIS_SERVER.EVICTED_KEYS.ENABLED:"{#LOCATION_ID}"} and '
                                        'last(/Template App ' + name + '/redis_server.info["{#LOCATION_ID}","stats:evicted_keys"])'
                                        '>{$REDIS_SERVER.EVICTED_KEYS.MAX:"{#LOCATION_ID}"}',
                                    'priority': 'HIGH',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.30',
                            'name': 'stats:expired_keys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:expired_keys"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:expired_keys\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.31',
                            'name': 'stats:keyspace_hits',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:keyspace_hits"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:keyspace_hits\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.32',
                            'name': 'stats:keyspace_misses',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:keyspace_misses"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:keyspace_misses\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.33',
                            'name': 'stats:pubsub_channels',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:pubsub_channels"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:pubsub_channels\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.34',
                            'name': 'stats:pubsub_patterns',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:pubsub_patterns"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:pubsub_patterns\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.35',
                            'name': 'stats:rejected_connections',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:rejected_connections"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:rejected_connections\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.36',
                            'name': 'stats:sync_full',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_full"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:sync_full\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.37',
                            'name': 'stats:sync_partial_err',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_partial_err"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:sync_partial_err\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.38',
                            'name': 'stats:sync_partial_ok',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:sync_partial_ok"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:sync_partial_ok\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.39',
                            'name': 'stats:total_commands_processed',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_commands_processed"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:total_commands_processed\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.40',
                            'name': 'stats:total_connections_received',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_connections_received"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:total_connections_received\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.41',
                            'name': 'stats:total_net_input_bytes',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_net_input_bytes"]',
                            'value_type': 'FLOAT',
                            'units': 'Bps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:total_net_input_bytes\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-1.42',
                            'name': 'stats:total_net_output_bytes',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","stats:total_net_output_bytes"]',
                            'value_type': 'FLOAT',
                            'units': 'Bps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.stats:total_net_output_bytes\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                    ],
                    [
                        {
                            'id': 'trigger-prototype-1.1',
                            'name': 'Redis Server[{#LOCATION}] is a master without slaves',
                            'expression':
                                '{$REDIS_SERVER.CONNECTED_SLAVES.ENABLED:"{#LOCATION_ID}"} and '
                                'find(/Template App ' + name + '/redis_server.info["{#LOCATION_ID}","replication:role"],,"eq","master")=1 and '
                                'last(/Template App ' + name + '/redis_server.info["{#LOCATION_ID}","replication:connected_slaves"])=0',
                            'priority': 'HIGH',
                        },
                    ]) }}

                {#-##########################################################}
                {#- KEYSPACE DISCOVERY #}
                {#-##########################################################}

                {{ discovery_rule(
                    {
                        'id': 'discovery-rule-2',
                        'name': 'Keyspace discovery',
                        'key': 'redis_server.discovery["{$REDIS_SERVER.LOCATIONS}","keyspace"]',
                        'context': 'keyspace',
                    },
                    [
                        {
                            'id': 'item-prototype-2.1',
                            'name': 'keyspace:{#SUBJECT}:avg_ttl',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:avg_ttl"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.keyspace:{#SUBJECT_ID}:avg_ttl\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-2.2',
                            'name': 'keyspace:{#SUBJECT}:expires',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:expires"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.keyspace:{#SUBJECT_ID}:expires\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-2.3',
                            'name': 'keyspace:{#SUBJECT}:keys',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","keyspace:{#SUBJECT_ID}:keys"]',
                            'value_type': 'UNSIGNED',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.keyspace:{#SUBJECT_ID}:keys\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        },
                    ],
                    [
                    ]) }}

                {#-##########################################################}
                {#- COMMANDSTATS DISCOVERY #}
                {#-##########################################################}

                {{ discovery_rule(
                    {
                        'id': 'discovery-rule-3',
                        'name': 'Commandstats discovery',
                        'key': 'redis_server.discovery["{$REDIS_SERVER.LOCATIONS}","commandstats"]',
                        'context': 'commandstats',
                    },
                    [
                        {
                            'id': 'item-prototype-3.1',
                            'name': 'commandstats:{#SUBJECT}:calls',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","commandstats:{#SUBJECT}:calls"]',
                            'value_type': 'FLOAT',
                            'units': 'eps',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.commandstats:{#SUBJECT}:calls\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                                {
                                    'type': 'CHANGE_PER_SECOND',
                                },
                            ],
                        },
                        {
                            'id': 'item-prototype-3.2',
                            'name': 'commandstats:{#SUBJECT}:usec_per_call',
                            'type': 'DEPENDENT',
                            'key': 'redis_server.info["{#LOCATION_ID}","commandstats:{#SUBJECT}:usec_per_call"]',
                            'value_type': 'FLOAT',
                            'master_item_key': master,
                            'preprocessing': [
                                {
                                    'type': 'JSONPATH',
                                    'params': ['$[\'{#LOCATION_ID}.commandstats:{#SUBJECT}:usec_per_call\']'],
                                    'error_handler': 'DISCARD_VALUE',
                                },
                            ],
                        }
                    ],
                    [
                    ]) }}
            </discovery_rules>

            {#-##############################################################}
            {#- TAGS #}
            {#-##############################################################}

            <tags>
                <tag>
                    <tag>Application</tag>
                    <value>Redis Server</value>
                </tag>
            </tags>

            {#-##############################################################}
            {#- MACROS #}
            {#-##############################################################}

            <macros>
                {%- for macro in [
                        ('{$REDIS_SERVER.LOCATIONS}', ''),
                        ('{$REDIS_SERVER.EXCLUDED_STATS}', ''),

                        ('{$REDIS_SERVER.PROCESSES.MIN}', '1'),

                        ('{$REDIS_SERVER.LLD_EXCLUDED_SUBJECTS}', '^(?!)'),
                        ('{$REDIS_SERVER.LLD_KEEP_LOST_RESOURCES_PERIOD}', '30d'),
                        ('{$REDIS_SERVER.LLD_UPDATE_INTERVAL}', '1h'),

                        ('{$REDIS_SERVER.ITEM_HISTORY_STORAGE_PERIOD}', '30d'),
                        ('{$REDIS_SERVER.ITEM_TREND_STORAGE_PERIOD}', '365d'),
                        ('{$REDIS_SERVER.ITEM_UPDATE_INTERVAL}', '1m'),

                        ('{$REDIS_SERVER.CONNECTED_SLAVES.ENABLED}', '1'),
                        ('{$REDIS_SERVER.EVICTED_KEYS.ENABLED}', '1'),
                        ('{$REDIS_SERVER.EVICTED_KEYS.MAX}', '0.0'),
                        ('{$REDIS_SERVER.UPTIME.MIN}', '10m'),
                    ] %}
                    <macro>
                        <macro>{{ macro[0]|e }}</macro>
                        <value>{{ macro[1]|e }}</value>
                    </macro>
                {%- endfor %}
            </macros>
        </template>
    </templates>
</zabbix_export>
