<?php
global $DB;

$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '127.0.0.1';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{ settings['mysql.zabbix'].name }}';
$DB['USER']     = '{{ settings['mysql.zabbix'].user }}';
$DB['PASSWORD'] = '{{ settings['mysql.zabbix'].password }}';

$DB['SCHEMA'] = '';

$ZBX_SERVER      = '127.0.0.1';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
